* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 211, 217);
    min-height: 100vh;
}

.container {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
input,
button {
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    outline: none;
}

form input {
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 6rem;
    border: 1px solid lightgray;
}

.dropdown i {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.select-container select {
    font-size: 0.85rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    font-size: 1.15rem;
}

form button {
    height: 3rem;
    font-size: 1.15rem;
    background-color: #ec407a;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

form button:hover {
    background-color: #d81b60;
}

form button:active {
    border: 0.15rem solid #ad1457;
    background-color: #e5336e;
}


@media (max-width: 450px) {

    .container {
        width: 95%;
        /* fits small screens */
        max-width: 250px;
        padding: 1.2rem;
        border-radius: 0.8rem;
    }

    h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    .dropdown {
        flex-direction: column;
        /* dropdowns vertical */
        gap: 0.75rem;
    }

    .dropdown i {
        margin-top: 0;
        transform: rotate(90deg);
        /* arrow looks correct vertically */
    }

    form input {
        height: 1.8rem;
        font-size: 0.9rem;
    }

    .select-container {
        width: 100%;
        padding: 0.2rem 0.3rem;
    }

    .select-container img {
        width: 25px;
    }

    .msg {
        font-size: 1rem;
    }

    form button {
        height: 2.5rem;
        font-size: 1rem;
    }
}