* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(BackgroundImage.jpg);
    background-position: contain;
    padding: 10px 10%;
    color: #fff;
}

.hero h3 {
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}

.hero h1 {
    margin-top: 30px;
    font-size: 50px;
}

.hero p {
    margin: 10px 0 50px;
    font-size: 18px;
}

form {
    background: #fff;
    display: flex;
    width: fit-content;
}

form input {
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 60px;
    width: 400px;
    font-size: 16px;
}

form button {
    background: #33662a;
    border: none;
    outline: none;
    height: 60px;
    width: 100px;
    cursor: pointer;
}

span {
    color: #1fa607;
    margin-top: 10px;
    display: block;
}

@media (max-width: 480px) {

    .hero {
        padding: 20px;
        text-align: center;
    }

    .hero h3 {
        font-size: 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 14px;
    }

    form {
        flex-direction: row;
    }

    form input {
        max-width: 100%;
        height: 45px;
    }

    form button {
        width: 30%;
        height: 45px;
    }
}


@media (max-width: 768px) {

    .hero {
        padding: 30px;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 16px;
    }

    form {
        max-width: 100%;
    }
}